{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class=page-header id=overview>Frequently Asked Questions</h1>
            <p class=lead>We strongly recommend that you don't use a website such as this one to generate passwords.
            Look for password managers that only run locally to generate and manage your passwords.</p>
            <h2 id=overview-doctype>General rules regarding passwords</h2>
            <ul>
                <li>Longer passwords are better than complex passwords. If you find passwords hard to remember you can
                base them off of the lyrics of a song or maybe a phrase that only you would think of.</li>
                <li>Don't reuse passwords for different websites</li>
                <li>We recommend generating several passwords in case someone can see the requests done on our server.
                By generating several passwords or really long passwords and only using parts of them makes it harder to
                know which password you decided to go with.</li>
                <li>Don't store passwords in a word document or something similar</li>
                <li>Try to keep most passwords offline</li>
                <li>Change your passwords often</li>
                <li>Don't use pet names, company names, family names, cities, etc. for passwords, it is extremely common to use
                    Companyname2016 for example and these are the type of passwords that are easy to guess.</li>
                <li>More tips will be added, feel free to email admin@password.fun with suggestions or open an issue on <a href="https://github.com/Password-Fun/password_fun">Github</a></li>
            </ul>
        </div>
    </div>
</div>

{{template "footer.html" .}}