{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-xs-12" style="height:25px;"></div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h2>Skapa ett eller flera lösenord</h2>
            <p>Använd <a href="http://lösenord.xyz">Lösenord.xyz</a> för att skapa ett eller flera lösenord. Vi rekommenderar starkt
                att du genererar flera lösenord samtidigt med 20+ tecken. Läs mer om varför vi rekommenderar det <a href="/faq">här</a>.</p>

            <div class="col-md-12">
                <div class="well">
                    <div id="password-block">

                    </div>
                </div>

            </div>
            <div class="col-md-12">
                {{template "mailchimpsub.html" .}}
            </div>
        </div>
        <div class="col-md-6">
            <form id="passwordform" method="post" onsubmit="return generatePasswords();">
                <div class="form-group">
                    <label for="count">Antal lösenord</label>
                    <input name="count" type="text" class="form-control" id="count" aria-describedby="countHelp"
                           placeholder="random" value="{{ .count }}">
                    <small id="countHelp" class="form-text text-muted">Enter a number 1-100</small>
                </div>
                <div class="form-group">
                    <label for="length">Längd på lösenord</label>
                    <input name="length" type="text" class="form-control" id="length" aria-describedby="lengthHelp"
                           placeholder="random" value="{{ .length }}">
                    <small id="lengthHelp" class="form-text text-muted">Enter a number 1-100</small>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="capital" type="checkbox" aria-describedby="uppercaseHelp" class="form-check-input"
                               {{ if eq .capital "true"}} CHECKED{{end}}>
                        Inkludera stora bokstäver
                        <div class="col-xs-12">
                            <small id="uppercaseHelp" class="form-text text-muted">ABCDEFGHIJKLMNOPQRSTUVWXYZ</small>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="lower" type="checkbox" aria-describedby="lowercaseHelp" class="form-check-input"
                               {{ if eq .lower "true"}} CHECKED{{end}}>
                        Inkludera små bokstäver
                        <div class="col-xs-12">
                            <small id="lowercaseHelp" class="form-text text-muted">abcdefghijklmnopqrstuvwxyz</small>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="special" type="checkbox" aria-describedby="specialHelp" class="form-check-input"
                               {{ if eq .special "true"}} CHECKED{{end}}>
                        Inkludera speciella tecken
                        <div class="col-xs-12">
                            <small id="specialHelp" class="form-text text-muted">!@#$%^&*()-_=+,.?/:;{}[]`~</small>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="numbers" type="checkbox" aria-describedby="numbersHelp" class="form-check-input"
                               {{ if eq .numbers "true"}} CHECKED{{end}}>
                        Inkludera nummer
                        <div class="col-xs-12">
                            <small id="numbersHelp" class="form-text text-muted">1234567890</small>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="spaces" type="checkbox" aria-describedby="spaceHelp" class="form-check-input"
                               {{ if eq .spaces "true"}} CHECKED{{end}}>
                        Inkludera mellanslag
                        <div class="col-xs-12">
                            <small id="spaceHelp" class="form-text text-muted">" "</small>
                        </div>
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="remember" type="checkbox" class="form-check-input" {{ if eq .remember "true"}} CHECKED{{end}}>
                        Kom ihåg mina val
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <input name="highlight" type="checkbox" class="form-check-input" {{ if eq .highlight "true"}} CHECKED{{end}}>
                        Markera automatiskt ett slumpmässigt lösenord för att göra det lättare att kopiera
                    </label>
                </div>
                <div class="col-xs-12" style="height:25px;"></div>
                <button type="submit" class="btn btn-primary">Skapa</button>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span6">
                {{template "flash.html" .}}
            </div>
        </div>
    </div>

    <script>
        // Code to generate new passwords
        function generatePasswords() {
            var values = $("#passwordform").serializeArray();
            var data = {};
            data["count"] = 5;
            data["length"] = 40;

            for (i = 0; i < values.length; i++) {
                if (values[i].name === "count" && values[i].value > 0) {
                    data[values[i].name] = values[i].value;
                } else if (values[i].name === "length" && values[i].value > 0) {
                    data[values[i].name] = values[i].value;
                } else {
                    data[values[i].name] = values[i].value;
                }
            }

            $.ajax({
                method: "POST",
                url: "/api/v1/passwords",
                data: data
            }).done(function (obj) {
                var passblock = $("#password-block");
                passblock.html("");
                for (i = 0; i < obj.passwords.length; i++) {
                    passblock.append('<p>' + obj.passwords[i].password + '</p>');
                }

                if (data["highlight"]) {
                    // Select random password
                    var ps = passblock.find("p");
                    var p = ps[Math.floor(Math.random() * ps.length)];
                    SelectText(p);
                }
            });
            return false;
        }

        // See https://stackoverflow.com/questions/985272/selecting-text-in-an-element-akin-to-highlighting-with-your-mouse
        function SelectText(element) {
            var doc = document
                , text = element
                , range, selection
            ;
            if (doc.body.createTextRange) {
                range = document.body.createTextRange();
                range.moveToElementText(text);
                range.select();
            } else if (window.getSelection) {
                selection = window.getSelection();
                range = document.createRange();
                range.selectNodeContents(text);
                selection.removeAllRanges();
                selection.addRange(range);
            }
        }

        generatePasswords();

    </script>

</div>

{{template "footer.html" .}}