{{template "header.html" .}}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class=page-header id=overview>Vanliga frågor</h1>
            <p class=lead>Vi rekommenderar starkt att du inte använder en sida som denna för att skapa lösenord.
            Försök hitta lösenordshanterare som går att köra på datorn utan internet för att vara extra säker.</p>
            <h2 id=overview-doctype>Generella regler gällande lösenord</h2>
            <ul>
                <li>Långa lösenord är bättre än komplicerade lösenord. Om du har svårt att komma ihåg längre lösenord
                så rekommenderar vi att du försöker skapa lösenord från orden i en låt eller något liknande.</li>
                <li>Vi rekommenderar att du skapar flera lösenord via vår sida även om du bara tänker använda ett lösenord.
                Om någon skulle kunna se vilka anrop som sker på vår server så är det mycket svårare att gissa om anvädaren
                skapar flera lösenord och använder endast ett lösenord som skapats.</li>
                <li>Använd aldrig samma lösenord på olika webbsidor eller enheter.</li>
                <li>Spara aldrig lösenord i Word dokument eller liknande.</li>
                <li>Försök att spara alla lösenord lokalt på datorn eller på ett usb minne. Undvik lösningar för att lagra lösenord i molnet.</li>
                <li>Ändra lösenord ofta</li>
                <li>Använd aldrig namn på vänner, djur, företag eller liknande när du skapar lösenord. Lösenord som till exempel Företag2016 är enkla att gissa.</li>
                <li>Fler regler kommer att läggas till i framtiden, skicka gärna förslag till admin@lösenord.xyz eller öppna en issue på <a href="https://github.com/Password-Fun/password_fun">Github</a></li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{template "mailchimpsub.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}